<div class="flex min-h-screen items-center justify-center px-4 py-12">
  <div class="w-full max-w-md rounded-xl bg-white shadow-md ring-1 ring-black/5">
    <%= form_with url: passwords_path, class: "p-7 sm:p-11" do |form| %>
      <div class="flex items-start">
        <%= link_to root_path, aria: { label: "Home" }, class: "flex items-center gap-2 font-bold text-gray-900 group" do %>
          <svg viewBox="340 80 170 200" class="w-[35px] h-[22px]" xmlns="http://www.w3.org/2000/svg"><style>.hover-rect{width:0;transition:width 0.7s;}.group:hover .hover-rect{width:170px;}</style><path d="M500.033,264.883c-3.503-7.098-78.448-130.636-80.347-133.721c-13.99-22.704-38.24-36.258-64.869-36" class="fill-gray-300"></path><rect class="fill-black hover-rect" height="200" y="80" x="340" clip-path="url(#icon-clip)"></rect><defs><clipPath id="icon-clip"><path d="M500.033,264.883c-3.503-7.098-78.448-130.636-80.347-133.721c-13.99-22.704-38.24-36.258-64.869-36"/></clipPath></defs></svg>
          <span>Seeker</span>
        <% end %>
      </div>

      <h1 class="mt-8 text-base/6 font-medium">Forgot your password?</h1>
      <p class="mt-1 text-sm/5 text-gray-600">Enter your email and we'll send you reset instructions.</p>

      <div class="mt-8 space-y-3">
        <%= form.label :email_address, "Email", class: "text-sm/5 font-medium" %>
        <%= form.email_field :email_address,
            required: true,
            autofocus: true,
            autocomplete: "username",
            placeholder: "Enter your email address",
            value: params[:email_address],
            class: "block w-full rounded-lg border border-transparent shadow-sm ring-1 ring-black/10 px-3 py-2 text-base/6 sm:text-sm/6 focus:outline-2 focus:-outline-offset-1 focus:outline-black" %>
      </div>

      <div class="mt-8">
        <%= form.submit "Email reset instructions", class: "w-full inline-flex items-center justify-center px-4 py-2 rounded-full border border-transparent bg-gray-950 shadow-md text-base font-medium whitespace-nowrap text-white hover:bg-gray-800 cursor-pointer transition" %>
      </div>
    <% end %>
  </div>
</div>
