<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Seeker" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= turbo_include_tags %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-main">
    <%= render "layouts/header" %>

    <main class="flex-auto mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 relative">
      <%= render "layouts/flash" %>
      <%= yield %>
    </main>

    <%= render "layouts/footer" %>
  </body>
</html>
